@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin: initial;
  box-sizing: border-box;
}
body .navbar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
body .navbar .logo {
  width: 95px;
  height: 30px;
  margin-left: 20px;
  background-color: #E8E8E8;
  border-radius: 4px;
}
body .navbar .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .navbar .menu li {
  padding: 0px 20px 0px 20px;
}
body .navbar .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
body .navbar .menu a .fas {
  font-weight: 600;
  color: #000000;
  padding: 0px 5px 0px 5px;
}
body .navbar .menu a:hover {
  color: #E8E8E8;
}
body .container {
  background-color: #fff;
  padding: 50px 150px 0px 150px;
}
body h1 {
  margin: 0;
  font-size: 36px;
  padding-bottom: 10px;
}
body .description {
  width: 450px;
  margin: 0;
  font-size: 14px;
  color: #666;
  padding-bottom: 30px;
}
body .products {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 5px;
       column-gap: 5px;
  row-gap: 40px;
}
body .products .product {
  width: calc(33.333% - 5px);
  background-color: #fff;
}
body .products .product .link {
  text-decoration: none;
}
body .products .product img {
  max-width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
}
body .products .product h2 {
  color: #000000;
  margin: 0;
  font-size: 14px;
  padding: 12px 0 6px 5px;
}
body .products .product p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
  color: #9C9C9C;
}
body .btn__see {
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .btn__see .see-more {
  width: 150px;
  height: 50px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #FCED70;
  color: #333;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}
body .btn__see .see-more:hover {
  background-color: #ffe600;
}
body footer {
  width: 100%;
  height: 580px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 14px;
}
body footer .notifications {
  width: 100%;
  height: 160px;
  background-color: #514F4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .notifications .newsletter {
  padding-left: 20px;
  margin: 0;
  display: flex;
}
body footer .notifications .newsletter .newsletter-input {
  background-color: transparent;
  border: 1px solid #F7EEE3;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px 0 0 5px;
  width: 250px;
  outline: none;
}
body footer .notifications .newsletter .newsletter-input::-moz-placeholder {
  color: #aaa;
}
body footer .notifications .newsletter .newsletter-input::placeholder {
  color: #aaa;
}
body footer .notifications .newsletter .newsletter-button {
  background-color: #F7EEE3;
  border: 1px solid #F7EEE3;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  color: #131313;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
body footer .notifications .newsletter .newsletter-button:hover {
  background-color: #ddd;
}
body footer .notifications .social-media {
  display: flex;
  padding-right: 20px;
  gap: 30px;
}
body footer .notifications .social-media .social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
body footer .notifications .social-media .social-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body footer .notifications .social-media .social-icon:hover {
  opacity: 0.8;
}
body footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 80px 100px 70px 20px;
}
body footer .footer-bottom h3 {
  margin-bottom: 10px;
  color: #fff;
}
body footer .footer-bottom .bottom_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
body footer .footer-bottom .bottom_list li {
  margin-bottom: 10px;
}
body footer .footer-bottom .bottom_list li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}
body footer .footer-bottom .bottom_list li a:hover {
  color: #fff;
}
body footer .footer-bottom p {
  margin-bottom: 10px;
}
body footer .footer-bottom p a {
  color: #ccc;
  text-decoration: none;
}
body footer .footer-bottom p a:hover {
  color: #fff;
}
body footer .footer-legal {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
body footer .footer-legal p {
  margin: 0;
  padding: 2px;
  color: #ccc;
}/*# sourceMappingURL=styles_product.css.map */