html {
    font-family: "Lato", sans-serif;
    font-style: italic;
    font-weight: 400;
    color: #0C0D11;
    background-color: lightslategrey;
    margin: 40px 255px 0px 255px;

}
p {
    margin: 0;
}
.p_v{
    margin-bottom: 20px;
    font-size: 14px;
    color: #656E7F;
    
}
.cards_h {
    float: left;
}

.cards_v{
    float:right;
}

.card__horizontal {
    margin: 12px 0px 12px 0px;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 30px;
    width: 400px;
    height: 250px;
    background-color:rgb(243, 243, 243)
}

.card__vertical {
    margin: 12px 0px 12px 0px;
    float: right;
    border: 1px solid rgb(243, 243, 243);
    border-radius: 30px;
    width: 400px;
    height: 512px;
    background-color:rgb(243, 243, 243)
}
.card__header {
    padding: 40px 40px 0px 40px;
    font-size: 14px;
    color: #656E7F;
}
.card__body {
    padding: 0px 40px 0px 40px;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card__footer {
    padding: 5px 50px 10px 50px;
    height: 50px;
    display: flex;
    justify-content: left;
    align-items: center;
}
.card__top {
    padding: 0px 40px 0px 40px;
    font-size: 14px;
    color: #656E7F;
}
.card__center {
    padding: 0px 40px 0px 40px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card__down {
    padding: 5px 50px 10px 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button {
    font-family: "Lato", sans-serif;
    font-style: italic;
    background-color: rgb(73, 70, 70);
    border: none;
    color: white;
    padding: 1px 1px;
    text-align: center;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    border-radius: 20px;
    width: 150px;
    height: 30px;
}

.button:active {
    background-color:lightslategrey;
    color: black;
}
.imagem{
    float:right;
    max-width: 25%;
    max-height: 10%;
}

.title_sub {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 4px;
    color: #656E7F;
}
.title {
    font-size: 20px;
    font-weight: 600;
}