@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


body {
    display: flex;
    flex-direction: column;
    font-family: "Inter", sans-serif;
    margin: initial;
    box-sizing: border-box;
    margin: 0;

    .navbar {
        width: 100%;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background-color: #FFFFFF;

    
        .logo {
            width: 95px;
            height: 30px;
            margin-left: 20px;
            background-color: #E8E8E8; 
            border-radius: 4px; 
        }
        
        .menu {
            display: flex;
            list-style: none;
            margin: 0;
            padding: 0;
        }
        
        .menu li {
            padding: 0px 20px 0px 20px;
        }
        
        .menu a {
            text-decoration: none; 
            color: #000000;
            font-size: 14px;

            .fas {
                font-weight: 600;
                color: #000000;
                padding: 0px 5px 0px 5px;
            }
        }
    
        .menu a:hover {
            color: #E8E8E8;
        }
    }  
    .product-container {
        height: 475px;
        padding: 80px 125px 0px 125px;
        display: flex;
        justify-content: center;
        background-color: #fff;
        overflow: hidden;


        .product-image{
            width: calc(66.666%);
            display: flex;
            flex-wrap: wrap;
            img {
                width: 100%;
                height: auto;
                border-radius: 4px;
            }
        }

        .product-details {
            width: 33.333%;
            padding: 0px 0px 0px 20px;

            p{
                margin: 0;
            }
        
            .title {
                font-size: 28px;
                margin: 0;
            }
            
            .price {
                font-size: 16px;
                padding: 5px 0;
                color: #131313;
            }
            
            .fabric-color {
                padding: 20px 10px 20px 0px;

                p{
                    padding: 5px 0px 5px 0px;
                }
            
                .color-options {
                    display: flex;
                    gap: 10px; 
                
                    .color-radio {
                        display: none; 
                    }
                    
                    .color-option {
                        width: 20px;
                        height: 20px;
                        border-radius: 50%;
                        border: 1px solid #ccc;
                        cursor: pointer;
                        transition: border 0.3s ease, transform 0.3s ease; 
                        display: inline-block;
                    
                        &:hover {
                            border: 2px solid #888; 
                            transform: scale(1.1);  
                        }
                    }            
                    .color-radio:checked + .color-option {
                        border: 2px solid red; 
                        transform: scale(1.2); 
                    }
                }
            }
            .upgrades {
                padding-bottom: 20px;

                p {
                    font-weight: bold;
                    padding: 0px 0px 10px 0px;
                }
                        
                .upgrade-option {
                    font-size: 14px;
                    display: flex;
                    align-items: center;
                    padding-bottom: 10px;
                }
                
                .upgrade-option input {
                    height: 20px;
                    width: 20px;
                    padding-right: 10px;
                }
            }

        }
        .btn{
            padding: 60px 40px 20px 40px;
            display: flex;
            flex-direction: row-reverse;

            .add-to-cart {
                width: 150px;
                height: 50px;
                background-color: #FCED70;
                border: none;
                padding: 15px 20px;
                font-size: 14px;
                cursor: pointer;
                border-radius: 5px;
                transition: background-color 0.3s ease;
            }
                
            .add-to-cart:hover {
                background-color: #ffbf00;
            }
        }
    }

// Definição de variáveis de cores (opcional)
    .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    }

    .dimensions {
    margin-right: 40px;

        h2 {
            color: #3498db;
        }

        ul {
            list-style-type: none;
            padding: 0;

            li {
            margin-bottom: 10px;
            color: #333;
            }
        }
    }

    .sofa-image {
        img {
            max-width: 100%;
            height: auto;
        }
    }


    footer {
        width: 100%;
        height: 580px;
        background-color: #1a1a1a;
        color: #fff;
        font-size: 14px;

        .notifications{
            width: 100%;
            height: 160px;
            background-color: #514F4D;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .newsletter {
                padding-left: 20px;
                margin: 0;
                display: flex;
              
                .newsletter-input {
                    background-color: transparent;
                    border: 1px solid #F7EEE3;
                    padding: 10px;
                    font-size: 12px;
                    border-radius: 5px 0 0 5px;
                    width: 250px;
                    outline: none;
                    
                    &::placeholder {
                        color: #aaa;
                    }
                }
            
                .newsletter-button {
                    background-color: #F7EEE3;
                    border: 1px solid #F7EEE3;
                    margin: 0;
                    padding: 10px;
                    font-size: 14px;
                    color: #131313;
                    cursor: pointer;
                    border-radius: 0 5px 5px 0;
                    
                    &:hover {
                        background-color: #ddd;
                    }
                }
            }
            
            .social-media {
                display: flex;
                padding-right: 20px;
                gap: 30px;
            
                .social-icon {
                    display: inline-block;
                    width: 24px;
                    height: 24px;
                
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;
                    }
                    
                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
       
        .footer-bottom {
            display: flex;
            justify-content: space-between;
            padding: 80px 100px 70px 20px;
          
            h3 {
                margin-bottom: 10px;
                color: #fff;
            }
            .bottom_list {
                    list-style: none;
                    padding: 0;
                    margin: 0;
              li {
                    margin-bottom: 10px;
                a {
                    color: #ccc;
                    text-decoration: none;
                    transition: color 0.3s;
                    &:hover {
                        color: #fff;
                    }
                }
                }
            }
            p {
              margin-bottom: 10px;
              a {
                    color: #ccc;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
       
        .footer-legal {
            padding: 0px 20px 0px 20px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 10px;
            p {
                margin: 0;
                padding: 2px;
                color: #ccc;
            }
        }
    }
}