@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
body {
  display: flex;
  flex-direction: column;
  font-family: "Inter", sans-serif;
  margin: initial;
  box-sizing: border-box;
  margin: 0;
}
body .navbar {
  width: 100%;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #FFFFFF;
}
body .navbar .logo {
  width: 95px;
  height: 30px;
  margin-left: 20px;
  background-color: #E8E8E8;
  border-radius: 4px;
}
body .navbar .menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
body .navbar .menu li {
  padding: 0px 20px 0px 20px;
}
body .navbar .menu a {
  text-decoration: none;
  color: #000000;
  font-size: 14px;
}
body .navbar .menu a .fas {
  font-weight: 600;
  color: #000000;
  padding: 0px 5px 0px 5px;
}
body .navbar .menu a:hover {
  color: #E8E8E8;
}
body .product-container {
  height: 475px;
  padding: 80px 125px 0px 125px;
  display: flex;
  justify-content: center;
  background-color: #fff;
  overflow: hidden;
}
body .product-container .product-image {
  width: 66.666%;
  display: flex;
  flex-wrap: wrap;
}
body .product-container .product-image img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}
body .product-container .product-details {
  width: 33.333%;
  padding: 0px 0px 0px 20px;
}
body .product-container .product-details p {
  margin: 0;
}
body .product-container .product-details .title {
  font-size: 28px;
  margin: 0;
}
body .product-container .product-details .price {
  font-size: 16px;
  padding: 5px 0;
  color: #131313;
}
body .product-container .product-details .fabric-color {
  padding: 20px 10px 20px 0px;
}
body .product-container .product-details .fabric-color p {
  padding: 5px 0px 5px 0px;
}
body .product-container .product-details .fabric-color .color-options {
  display: flex;
  gap: 10px;
}
body .product-container .product-details .fabric-color .color-options .color-radio {
  display: none;
}
body .product-container .product-details .fabric-color .color-options .color-option {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: border 0.3s ease, transform 0.3s ease;
  display: inline-block;
}
body .product-container .product-details .fabric-color .color-options .color-option:hover {
  border: 2px solid #888;
  transform: scale(1.1);
}
body .product-container .product-details .fabric-color .color-options .color-radio:checked + .color-option {
  border: 2px solid red;
  transform: scale(1.2);
}
body .product-container .product-details .upgrades {
  padding-bottom: 20px;
}
body .product-container .product-details .upgrades p {
  font-weight: bold;
  padding: 0px 0px 10px 0px;
}
body .product-container .product-details .upgrades .upgrade-option {
  font-size: 14px;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
body .product-container .product-details .upgrades .upgrade-option input {
  height: 20px;
  width: 20px;
  padding-right: 10px;
}
body .product-container .btn {
  padding: 60px 40px 20px 40px;
  display: flex;
  flex-direction: row-reverse;
}
body .product-container .btn .add-to-cart {
  width: 150px;
  height: 50px;
  background-color: #FCED70;
  border: none;
  padding: 15px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}
body .product-container .btn .add-to-cart:hover {
  background-color: #ffbf00;
}
body .container {
  height: 575px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  background-color: #fff;
  padding: 80px 125px 0px 125px;
}
body .container .dimensions {
  width: 475px;
}
body .container .dimensions .description {
  margin: 0;
  padding: 0px 10px 10px 0px;
  font-size: 28px;
  width: 100%;
  color: #131313;
}
body .container .dimensions .table__list {
  font-size: 14px;
  display: flex;
  padding-top: 20px;
}
body .container .dimensions .table__list ul {
  list-style-type: none;
  padding: 0;
}
body .container .dimensions .table__list ul .list__text {
  padding: 10px 150px 10px 0px;
  color: #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
}
body .container .dimensions .table__list ul .list__value {
  padding: 10px 0px 10px 0px;
  color: #9C9C9C;
  border-bottom: 1px solid #9C9C9C;
}
body .container .sofa-image {
  width: 60%;
  overflow: hidden;
}
body .container .sofa-image img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  padding-top: 80px;
}
body .description-section {
  margin: 0;
  padding: 40px 125px 0px 125px;
  color: #131313;
}
body .description-section .title__about {
  font-size: 28px;
  padding-bottom: 12px;
}
body .description-section p {
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 40px;
  margin: 0;
}
body .description-section .features {
  display: flex;
  gap: 20px;
}
body .description-section .features .feature {
  width: 475px;
  gap: 40px;
}
body .description-section .features .feature .custom__title, body .description-section .features .feature .adapt__title {
  font-size: 16px;
  font-weight: bolder;
  color: #131313;
  padding-bottom: 8px;
}
body .description-section .features .feature p {
  margin: 0;
  font-size: 16px;
  color: #131313;
  line-height: 1.4;
}
body .key-features {
  height: 245px;
  padding: 40px 125px 0px 125px;
}
body .key-features p {
  font-size: 24px;
  margin: 0;
  padding-bottom: 40px;
}
body .key-features .features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body .key-features .features-list .feature {
  overflow: hidden;
  text-align: center;
}
body .key-features .features-list .feature img {
  -o-object-fit: cover;
     object-fit: cover;
  max-width: 140px;
  margin-bottom: 10px;
}
body .key-features .features-list .feature p {
  font-size: 16px;
  font-weight: bolder;
  margin: 0;
}
body .durable-section {
  margin: 0;
  padding: 100px 125px 0px 125px;
  display: flex;
  gap: 20px;
}
body .durable-section .durable-video {
  width: 45%;
  overflow: hidden;
}
body .durable-section .durable-video video {
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
body .durable-section .durable-content {
  width: 55%;
}
body .durable-section .durable-content h2 {
  margin: 0;
  font-size: 36px;
  font-weight: normal;
  padding-bottom: 40px;
}
body .durable-section .durable-content p {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 40px;
}
body .durable-section .durable-content .durable-details {
  display: flex;
  gap: 10px;
}
body .durable-section .durable-content .durable-details .detail {
  width: 100%;
}
body .durable-section .durable-content .durable-details .detail h3 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 16px;
}
body .durable-section .durable-content .durable-details .detail p {
  margin: 0;
  font-size: 14px;
  color: #555;
}
body .recommend__products {
  padding: 60px 125px 80px 125px;
}
body .recommend__products .recommend {
  font-size: 36px;
  text-align: center;
}
body .recommend__products .products {
  display: flex;
  flex-wrap: wrap;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
body .recommend__products .products .product {
  width: calc(33.333% - 20px);
  background-color: #fff;
}
body .recommend__products .products .product .link {
  text-decoration: none;
}
body .recommend__products .products .product img {
  max-width: 100%;
  height: auto;
  border-radius: 4px 4px 0px 0px;
}
body .recommend__products .products .product h2 {
  color: #000000;
  margin: 0;
  font-size: 14px;
  padding: 12px 0 6px 5px;
}
body .recommend__products .products .product p {
  margin: 0;
  padding-left: 5px;
  font-size: 12px;
  color: #9C9C9C;
}
body footer {
  width: 100%;
  height: 580px;
  background-color: #1a1a1a;
  color: #fff;
  font-size: 14px;
}
body footer .notifications {
  width: 100%;
  height: 160px;
  background-color: #514F4D;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body footer .notifications .newsletter {
  padding-left: 20px;
  margin: 0;
  display: flex;
}
body footer .notifications .newsletter .newsletter-input {
  background-color: transparent;
  border: 1px solid #F7EEE3;
  padding: 10px;
  font-size: 12px;
  border-radius: 5px 0 0 5px;
  width: 250px;
  outline: none;
}
body footer .notifications .newsletter .newsletter-input::-moz-placeholder {
  color: #aaa;
}
body footer .notifications .newsletter .newsletter-input::placeholder {
  color: #aaa;
}
body footer .notifications .newsletter .newsletter-button {
  background-color: #F7EEE3;
  border: 1px solid #F7EEE3;
  margin: 0;
  padding: 10px;
  font-size: 14px;
  color: #131313;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}
body footer .notifications .newsletter .newsletter-button:hover {
  background-color: #ddd;
}
body footer .notifications .social-media {
  display: flex;
  padding-right: 20px;
  gap: 30px;
}
body footer .notifications .social-media .social-icon {
  display: inline-block;
  width: 24px;
  height: 24px;
}
body footer .notifications .social-media .social-icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body footer .notifications .social-media .social-icon:hover {
  opacity: 0.8;
}
body footer .footer-bottom {
  display: flex;
  justify-content: space-between;
  padding: 80px 100px 70px 20px;
}
body footer .footer-bottom h3 {
  margin-bottom: 10px;
  color: #fff;
}
body footer .footer-bottom .bottom_list {
  list-style: none;
  padding: 0;
  margin: 0;
}
body footer .footer-bottom .bottom_list li {
  margin-bottom: 10px;
}
body footer .footer-bottom .bottom_list li a {
  color: #ccc;
  text-decoration: none;
  transition: color 0.3s;
}
body footer .footer-bottom .bottom_list li a:hover {
  color: #fff;
}
body footer .footer-bottom p {
  margin-bottom: 10px;
}
body footer .footer-bottom p a {
  color: #ccc;
  text-decoration: none;
}
body footer .footer-bottom p a:hover {
  color: #fff;
}
body footer .footer-legal {
  padding: 0px 20px 0px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 10px;
}
body footer .footer-legal p {
  margin: 0;
  padding: 2px;
  color: #ccc;
}/*# sourceMappingURL=styles_descrition.css.map */